@page "/person"
@inject AppStateContainer appStateContainer
@rendermode InteractiveServer

@if (person is null)
{
    <h3>Person not found</h3>
    <p>Try navigating back to the <a href="/">home page</a> to enter details</p>
}
else
{
    <h3>Hello @person.FirstName</h3>

    <p>Your full name contains @person.VowelCount() vowels.</p>

    <p>Your age today is @person.Age()</p>

    <p>
        Your next birthday is @person.NextBirthday(),

        which is in @person.DaysToNextBirthday() days time.
    </p>
}

@code {
    private Person? person;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            person = await appStateContainer.GetPersonAsync();
            StateHasChanged();
        }
    }
}
